html {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;

    width: 100vw;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: dimgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fixed-panel {
    position: fixed;

    width: 100%;
    height: 60px;

    color: whitesmoke;

    display: flex;

    z-index: 50000000;

}

.header {
    top: 0;
    right: 0;

    align-items: center;
    justify-content: center;
}

.footer {
    bottom: 0;
    right: 0;

    height: 30px;
}

.item-box {
    width: 50px;
    height: 40px;

    display: flex;
    flex-direction: column;


    justify-content: space-around;
    align-items: center;

    background-color: black;
    color: white;

    border: 1px solid gray;
    border-radius: 5px;

    transition: 0.5s;

    cursor: pointer;

    padding: 3px;
    margin: 3px;
}

.item-box:hover {
    background-color: #2f2f2f;
    border: 1px solid cyan;
}


.bg-black {
    background-color: black !important;
}

#frameHolder .tab {
    visibility: visible;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    border: none;
    display: none;
}

#frameHolder {
    margin-bottom: 5px;
    height: calc(100% - 60px);
    width: 100%;

    margin-top: 60px;

    border-top: 1px solid dimgray;
}

.link-button {
    background: none;

    color: white;
}

#content {
    width: 100%;
    height: 100%;
}

.selected {
    background-color: dimgray;
}